@font-face {
    font-family: danger;
    src: url(./Melted\ Monster.ttf);
}

*{
              
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
                
    height:100%;
    width:100%;
}

html{
    font-family: danger;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main p{
    color: green;
    font-size: 2rem;
      transform: scaleY(2.4);
      display: inline-block;
      letter-spacing: 0.5rem;
}